.container {

  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.min {
  background-color: #FFBD44;
  width: 16px; 
  height: 16px;
  border-radius: 8px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
